<!doctype html>
{{template "html"}}

<head>
  <!-- Required meta tags -->
  {{template "meta"}}
  <!-- Bootstrap CSS -->
  {{template "styles"}}

  {{template "title"}}
</head>

<body>
  {{template "navbar" .User}}
  <div class="container-fluid">

    <!--ЗАГОЛОВОК-->
    <div class="row mt-3">
      <div class="col">
        <p class="text-center font-weight-bold">ГРУППЫ ЗАПРОСОВ !!!!</p>
      </div>
    </div>

    <!--Если есть уведомления, то вывести-->
    {{if .Alerts}}{{range .Alerts}}<div class="alert alert-{{.Class}}" role="alert">{{.Text}}</div>{{end}}{{end}}

    {{if .DataFrame }}
    <div class="row">
      <div class="col-sm">
        <table class="table table-sm table-striped">
          <thead class="thead-light ">
            <tr>
              <th scope="col" class="col-1">ID</th>
              <th scope="col" class="col-10">Наименовение</th>
              <th scope="col" class="col-1">Изменить</th>
            </tr>
          </thead>

          <tbody>
            {{range .DataFrame }}
            <tr>
              <td>{{.ID}}</a></td>
              <td>{{.NAME}}</td>
              <td><a href="/group?mode=edit&ID={{.ID}}" target="_self"><img src="public/img/bootstrap-icons/pencil.svg"></a></td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
    {{end}}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{template "scripts"}}
  </div>
</body>

</html>