<!doctype html>
{{template "html"}}

<head>
  <!-- Required meta tags -->
  {{template "meta"}}
  <!-- Bootstrap CSS -->
  {{template "styles"}}

  {{template "title"}}
</head>

<body>
  <div class="container-fluid">

    <!--ЗАГОЛОВОК-->
    <div class="row mt-3">
      <div class="col">
        <p class="text-center font-weight-bold">СОЗДАНИЕ, ИЗМЕНЕНИЕ, УДАЛЕНИЯ ЗАПРОСА</p>
      </div>
    </div>


    <div class="alert alert-info" role="alert"> Для добавления временной таблицы указать <b>#ТABLE#</b>, для добавления параметров указать <b>{@PARAM_NAME}</b> и инициализировать кнопкой "Параметры"</div>

    <!--Если есть уведомления, то вывести-->
    {{if .Alerts}}{{range .Alerts}}<div class="alert alert-{{.Class}}" role="alert">{{.Text}}</div>{{end}}{{end}}

    <!-- Modal delete confinm-->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="addModalLabel">Удаление запроса</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            Запрос будет навсегда удален из базы данных. Подтвердите удаление?
          </div>

          <div class="modal-footer">
            <form method="POST" enctype="application/x-www-form-urlencoded">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
              <button type="submit" class="btn btn-danger" name="submitBtn" value="delete">Удалить</button>
            </form>
          </div>

        </div>
      </div>
    </div>

    {{if .DataMap }}
    <!-- Если передан массив с данными, значит работаем с имеющимся (смотрим, правим, удаляем)-->
    <div class="row">
      <div class="col-sm">
        <form method="POST" enctype="application/x-www-form-urlencoded">
          <input type="text" class="form-control mb-3" name="Name" placeholder="Название" value='{{index (index .DataMap 0).NAME}}'>
          <textarea class="form-control mb-3" name="Query" placeholder="Запрос" rows="20">{{index (index .DataMap 0).QUERY}}</textarea>
          {{range $param := (index .Dict "PARAMS") }}
          <div class="form-group row mb-0">
            <label for="{{$param.NAME}}" class="col-sm-1 col-form-label">{{$param.NAME}}</label>
            <div class="col-sm-1">
              <input type="text" class="form-control mb-3" id="{{$param.NAME}}" name="val@{{$param.NAME}}" placeholder="значение" value="{{$param.VALUE}}">
            </div>
            <div class="col-sm-10">
              <input type="text" class="form-control mb-3" id="{{$param.NAME}}" name="rem@{{$param.NAME}}" placeholder="описание" value="{{$param.REM}}">
            </div>
          </div>
          {{end}}
          <textarea class="form-control mb-3" name="Rem" placeholder="Описание" rows="3">{{index (index .DataMap 0).REM}}</textarea>
          {{$ID_CONN:=(index (index .DataMap 0).ID_CONNECTION)}}
          <select class="form-control mb-3" name="Id_connection">
            {{range $index, $value := (index .Dict "CONNECTIONS") }}
            <option value={{index $value.ID}} {{if eq $ID_CONN (index $value.ID)}}selected{{end}}>{{index $value.NAME}}</option>
            {{end}}
          </select>
          {{$ID_GROUP:=(index (index .DataMap 0).ID_GROUP)}}
          <select class="form-control mb-3" name="Id_group">
            {{range $index, $value := (index .Dict "GROUPS") }}
            <option value={{index $value.ID}} {{if eq $ID_GROUP (index $value.ID)}}selected{{end}}>{{index $value.NAME}}</option>
            {{end}}
          </select>
          <button type="submit" class="btn btn-secondary" name="submitBtn" value="Cancel">Отмена</button>
          <button type="submit" class="btn btn-primary" name="submitBtn" value="InitParam">Параметры</button>
          <button type="submit" class="btn btn-success" name="submitBtn" value="Update">Изменить</button>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#addModal">Удалить</button>
          
        </form>
      </div>
    </div>
    {{else}}

    <!-- Если массив с данными был пуст, значит создаем новый-->
    <div class="row">
      <div class="col-sm">
        <form method="POST" enctype="application/x-www-form-urlencoded">
          <input type="text" class="form-control mb-3" name="Name" placeholder="Название">
          <textarea class="form-control mb-3" name="Query" placeholder="Запрос" rows="20"></textarea>
          {{range $param := (index .Dict "PARAMS") }}
          <div class="form-group row">
            <label for="{{$param.NAME}}" class="col-sm-1 col-form-label">{{$param.NAME}}</label>
            <div class="col-sm-1">
              <input type="text" class="form-control mb-3" id="{{$param.NAME}}" name="val@{{$param.NAME}}" placeholder="значение" value="{{$param.VALUE}}">
            </div>
            <div class="col-sm-10">
              <input type="text" class="form-control mb-3" id="{{$param.NAME}}" name="rem@{{$param.NAME}}" placeholder="описание" value="{{$param.REM}}">
            </div>
          </div>
          {{end}}
          <textarea class="form-control mb-3" name="Rem" placeholder="Описание" rows="3"></textarea>
          <select class="form-control mb-3" name="Id_connection">
            <option disabled selected>Соединение</option>
            {{range $index, $value := (index .Dict "CONNECTIONS") }}
            <option value={{index $value.ID}}>{{index $value.NAME}}</option>
            {{end}}
          </select>
          <select class="form-control mb-3" name="Id_group">
            <option disabled selected>Группа запросов</option>
            {{range $index, $value := (index .Dict "GROUPS") }}
            <option value={{index $value.ID}}>{{index $value.NAME}}</option>
            {{end}}
          </select>
          <button type="submit" class="btn btn-primary" name="submitBtn" value="InitParam">Параметры</button>
          <button type="submit" class="btn btn-secondary" name="submitBtn" value="Cancel">Отмена</button>
          <button type="submit" class="btn btn-success" name="submitBtn" value="Create">Создать</button>
        </form>
      </div>
    </div>
    {{end}}




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{template "scripts"}}
  </div>
</body>

</html>