<!doctype html>
{{template "html"}}

<head>
  <!-- Required meta tags -->
  {{template "meta"}}
  <!-- Bootstrap CSS -->
  {{template "styles"}}

  {{template "title"}}
</head>

<body>
  {{template "navbar"}}
  <div class="container-fluid">

    <!--ЗАГОЛОВОК-->
    <div class="row mt-3">
      <div class="col">
        <p class="text-center font-weight-bold">{{index (index (index .Dict "QUERY") 0) "NAME"}}</p>
        <p class="text-center ">{{index (index (index .Dict "QUERY") 0) "REM"}}</p>
      </div>
    </div>

    <!--Если есть уведомления, то вывести-->
    {{if .Alerts}}{{range .Alerts}}<div class="alert alert-{{.Class}}" role="alert">{{.Text}}</div>{{end}}{{end}}

    <div class="row">
      <div class="col-sm">
        <form method="POST" enctype="multipart/form-data">
          
          {{range $param := (index .Dict "PARAMS") }}
          <div class="form-group row mb-0">
            <label for="{{$param.NAME}}" class="col-sm-3 col-form-label">{{$param.NAME}} <b>{{$param.REM}}</b></label>
            <div class="col-sm-1">
              <input type="text" class="form-control mb-3" id="{{$param.NAME}}" name="val@{{$param.NAME}}" placeholder="значение" value="{{$param.VALUE}}">
            </div>
          </div>
          {{end}}

          {{if eq (index .Dict "NEED_CSV") true}}
          <div class="form-group row">
            <div class="custom-file col-12 pl-6">
              <input type="file" class="form-control-file border" name="uploadFile" accept=".csv">
            </div>
          </div>
          {{end}}

          {{if not .DataMap}}     
          <button type="submit" class="btn btn-secondary mb-2" name="submitBtn" value="Cancel">Отмена</button>
          <button type="button" class="btn btn-info mb-2"  data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">SQL</button>
          <button type="submit" class="btn btn-primary mb-2" name="submitBtn" value="downloadResult">Выгрузить результат </button>
          <button type="submit" class="btn btn-primary mb-2" name="submitBtn" value="viewResult">Показать результат</button>
          <div class="collapse" id="collapseExample">
            <textarea class="form-control mb-3" rows="20" readonly>{{index (index (index .Dict "QUERY") 0) "QUERY"}}</textarea>
          </div>
          {{end}}

        </form>
      </div>
    </div>

    {{if .DataMap}}
      <div class="row">
      <div class="col-sm">
        <table class="table table-sm">
          <thead class="thead-light ">
            <tr>
            {{range $name, $value := (index .DataMap 0)}}
              <th scope="col">{{$name}}</th>
            {{end}}
            </tr>
          </thead>
          <tbody>
            {{range $i, $row := .DataMap}}
            <tr>
            {{range $j, $col := $row}}
              <td>{{ $col}}</td>
            {{end}}
            </tr>
          {{end}}
        </tbody>
        </table>
      </div>
    </div>
    {{end}}
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{template "scripts"}}
  </div>
</body>

</html>