<!doctype html>
{{template "html"}}

<head>
  <!-- Required meta tags -->
  {{template "meta"}}
  <!-- Bootstrap CSS -->
  {{template "styles"}}

  {{template "title"}}
</head>

<body>
  {{template "navbar"}}
  <div class="container-fluid">

    <!--ЗАГОЛОВОК-->
    <div class="row mt-3">
      <div class="col">
        <p class="text-center font-weight-bold">ЗАПРОСЫ</p>
      </div>
    </div>
    
    <!--Если есть уведомления, то вывести-->
    {{if .Alerts}}{{range .Alerts}}<div class="alert alert-{{.Class}}" role="alert">{{.Text}}</div>{{end}}{{end}}

    <!--  -------------------------------------------------------->
    {{if .Data}}
    <table class="table table-sm table-striped">
      <thead class="thead-light ">
        <tr>
          <th scope="col" class="col-1">ID</th>
          <th scope="col" class="col-7">Описание</th>
          <th scope="col" class="col-2">База данных</th>
          <th scope="col" class="col-1">Изменить</th>
          <th scope="col" class="col-1">Выполнить</th>
        </tr>
      </thead>
      <tbody>
      {{$CUR_GROUP:="null"}}
      {{$ROW_GROUP:="null"}}
      {{$TAG_OPENED:=false}}
      {{range $ind, $dat := .Data }}
        {{$ROW_GROUP = index $dat.ByName "ID_GROUP"}}
        {{if ne $CUR_GROUP $ROW_GROUP}}
          {{if eq $TAG_OPENED true}} {{end}}
          {{$TAG_OPENED = true}}
          {{$CUR_GROUP = $ROW_GROUP}}
          <tr data-toggle="collapse" data-target="#collapse{{$CUR_GROUP}}">
            <td colspan="6" class="table-info"><b>{{index .ByName "G_NAME"}}</b></td>
          </tr>
          <tr class="collapse" id="collapse{{$CUR_GROUP}}">
            <td>{{index .ByName "ID"}}</td>
            <td><img src="public/img/bootstrap-icons/info.svg" data-toggle="tooltip" data-placement="bottom" title="{{index .ByName "REM"}}"> {{index .ByName "NAME"}}</td>
            <td>{{index .ByName "C_NAME"}}</td>
            <td><a href='/query?mode=edit&ID={{index .ByName "ID"}}' target="_self"><img src="public/img/bootstrap-icons/pencil.svg"></a></td>
            <td><a href='/query?mode=open&ID={{index .ByName "ID"}}' target="_self"><img src="public/img/bootstrap-icons/arrow-right-circle.svg"></a></td>
          </tr>
          {{else}}
          <tr class="collapse" id="collapse{{$CUR_GROUP}}">
            <td>{{index .ByName "ID"}}</td>
            <td><img src="public/img/bootstrap-icons/info.svg" data-toggle="tooltip" data-placement="bottom" title="{{index .ByName "REM"}}"> {{index .ByName "NAME"}}</td>
            <td>{{index .ByName "C_NAME"}}</td>
            <td><a href='/query?mode=edit&ID={{index .ByName "ID"}}' target="_self"><img src="public/img/bootstrap-icons/pencil.svg"></a></td>
            <td><a href='/query?mode=open&ID={{index .ByName "ID"}}' target="_self"><img src="public/img/bootstrap-icons/arrow-right-circle.svg"></a></td>
          </tr>
        {{end}}
      {{end}}
      </tbody>
    </table>
    {{end}}
    <!--  -------------------------------------------------------->

    <!--
    {{if .Data}}
    <div class="row">
      <div class="col-sm">
        <table class="table table-sm">
          <thead class="thead-light ">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Группа</th>
              <th scope="col">Описание</th>
              <th scope="col">База данных</th>
              <th scope="col">Изменить</th>
              <th scope="col">Выполнить</th>
            </tr>
          </thead>
          <tbody>
            {{range .Data }}
            <tr>
              <td>{{index .ByName "ID"}}</td>
              <td>{{index .ByName "G_NAME"}}</td>
              <td><img src="public/img/bootstrap-icons/info.svg" data-toggle="tooltip" data-placement="bottom" title="{{index .ByName "REM"}}"> {{index .ByName "NAME"}}</td>
              <td>{{index .ByName "C_NAME"}}</td>
              <td><a href='/query?mode=edit&ID={{index .ByName "ID"}}' target="_self"><img src="public/img/bootstrap-icons/pencil.svg"></a></td>
              <td><a href='/query?mode=open&ID={{index .ByName "ID"}}' target="_self"><img src="public/img/bootstrap-icons/arrow-right-circle.svg"></a></td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
    {{else}}
    <p>Пустой массив данных</p>
    {{end}}
    -->
    
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {{template "scripts"}}
  </div>
</body>

</html>